@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    font-family: poppins;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    background-image: url(images\AyamnoMicin.jpg);
}

label{
    padding-left: 15px;
    font-weight: bold;
}

body .sgn{
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color:#ffffff;
    border-radius: 20px;
}

body .sgn h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

body .sgn h4{
    margin-bottom: 1px;
}

body .sgn input{
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    background-color: #e5e9f2;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}

body .sgn div{
    display: block;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body .btn-sgn{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 20%;
    height: 40px;
    background-color: blue;
    color: #ffffff;
    margin-top: 20px;
}

body .btn-sgn:hover{
    cursor:pointer;
    border-radius: 20px;
    width: 20%;
    height: 40px;
    background-color:#e5e9f2;
    color: black;
}

body .btn-back{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    width: 20%;
    height: 40px;
    background-color: #e5e9f2;
    color: #000;
    margin-top: 20px;
}

body .btn-back:hover{
    cursor:pointer;
    border-radius: 20px;
    width: 20%;
    height: 40px;
    background-color:#e5e9f2;
    color: black;
}

body .sgn .btn{
    display: flex;
    justify-content: space-between;
}